
* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: white;
}

.header {
  background-color: deeppink;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: white;
  padding-left: 20px;
}
  
  
 .card {
  background-color: pink;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: deeppink;
  padding: 10px;
  text-align: center;
  color: black;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }









