
body {
  background-color: Hotpink;
}
h1 {
  color: white;
  text-align:center;">centered heading
}
h2 {
  color: white
  text-align:center;">centered heading
}
p {
  color: white;
}




.box1 {
  background-color: pink;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
