
header {
  background-color: deeppink;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  color: white;
}

article {
  float: left;
  width: 70%;
  background: hotpink;
  height: 300px;
  padding: 20px;
}


article {
  float: left;
  padding: 20px;
  width: 30%;
  height: 300px
  background-color: hotpink;
}


section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: deeppink;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }



h1 {
  color: white;
  text-align:center;">centered heading
}
h2 {
  color: white
  text-align:center;">centered heading
}
p {
  color: white;
}




.box1 {
  background-color: pink;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  float; right;
}




